<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{$pagina['titulo']}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="{$pagina['descricao']}" name="description" />
	<meta content="{$pagina['autor']}" name="author" />
	<meta content="{$pagina['palavras']}" name="keywords" />
	
	<link rel="shortcut icon" href="/res/admin/assets/img/fav.png" type="image/x-icon">	
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/res/admin/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/res/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/res/admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/res/admin/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/res/admin/assets/css/style.min.css" rel="stylesheet" />
	<link href="/res/admin/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/res/admin/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
	<link href="/res/admin/assets/plugins/jquery-notifyjs/styles/metro/notify-metro.css" rel="stylesheet" type="text/css" />
	<link href="/res/admin/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />	
	<link href="/res/admin/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="/res/admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  	<link href="/res/admin/assets/plugins/isotope/isotope.css" rel="stylesheet" />
  	<link href="/res/admin/assets/plugins/lightbox/css/lightbox.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/res/admin/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<style type="text/css">
		.imagemDetalhe {
		    max-width:100px;
		    max-height:70px;
		    width: auto;
		    height: auto;
		}	
	</style>
		
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
	
		<!-- begin #header -->
		{include="header_include"}
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{include="menu"}
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content content-full-width">
		
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/admin" title="Início">Início</a></li>
				<li class="active">{$funcionalidade['funcionalidade']}</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">{$funcionalidade['funcionalidade']}<small>&nbsp;&nbsp; {$funcionalidade['detalhe']}</small></h1>
			<!-- end page-header -->
			
			{if="$processamento==1"}
              	{if="$temErro==1"}
					<div id="msgErro1" class="alert alert-danger fade in" style="display: block;">
						<strong>Erro</strong><br>{$msgProcessamento}
					</div>
				{else}
					<div id="msgErro2" class="alert alert-success fade in" style="display: block;">
						{$msgProcessamento}
					</div>					
				{/if}
            {/if}	                			
	                			
		    <!-- begin vertical-box -->
		    <div class="vertical-box">
		        <!-- begin vertical-box-column -->
		        <div class="vertical-box-column width-250">
		            <!-- begin wrapper -->
                    <div class="wrapper bg-silver text-center">
                        <a href="#" class="btn btn-success p-l-40 p-r-40 btn-sm" onclick="cadastrarSolicitar();">Novo Registro</a>
                    </div>
		            <!-- end wrapper -->
		            <!-- begin wrapper -->
                    <div class="wrapper">
                        <p><b>LEGENDA</b></p>
                        <ul class="nav nav-pills nav-stacked nav-sm m-b-0">
                            <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-primary"></i> Ativo</a></li>
                            <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-danger"></i> Inativo</a></li>
                        </ul>
                        <p><b>REGISTROS</b></p>
                        <ul class="nav nav-pills nav-stacked nav-sm m-b-0">
                            <li><a href="javascript:;">Registros encontrados: {$qtdRegistros}</a></li>
                        </ul>                        
                    </div>
		            <!-- end wrapper -->
		        </div>
		        <!-- end vertical-box-column -->
		        
		        <!-- begin vertical-box-column -->
		        <div class="vertical-box-column">
		            <!-- begin wrapper -->
                    <div class="wrapper bg-silver-lighter">
                    
						<!-- begin btn-toolbar -->
                        <div class="btn-toolbar" style="margin: -3px;">
                        
                            <!-- begin btn-group -->
                            <div class="btn-group pull-right">
								<button class='btn btn-white btn-sm' {if="$paginaAtual>1"}onclick='mudarPagina({$paginaAtual-1});'{/if} title='Página {$paginaAtual-1}'><i class='fa fa-chevron-left'></i></button>
								<button class='btn btn-white btn-sm' {if="$paginaAtual<$qtdPaginas"}onclick='mudarPagina({$paginaAtual+1});'{/if} title='Página {$paginaAtual+1}'><i class='fa fa-chevron-right'></i></button>
                            </div>
                            <!-- end btn-group -->
                            
                            <!-- begin btn-group -->
                            <div class="btn-group dropdown">
	                            <select class="form-control input-sm" name="opcaoConsulta" id="opcaoConsulta">
	                            	<option value="todos">Todos</option>
	                            	<option value="tab.descricao">Nome</option>
	                            	<option value="tab.cpf">CPF</option>
	                            	<option value="tab.cnpj">CNPJ</option>
	                            </select>
                            </div>
                            <!-- end btn-group -->
                            
                            <!-- begin btn-group --> 
                            <div class="btn-group">
								<div class="input-group">
									<input class="form-control input-sm" type="text" name="campoConsulta" id="campoConsulta" value="">
									<span class="input-group-addon"><i class="fa fa-search" style="cursor: pointer;" onclick="fazerConsulta();"></i></span>
								</div>
							</div>
                            <!-- end btn-group -->
                            
                            <!-- begin btn-group -->
                            <div class="btn-group">
                                <button class="btn btn-sm btn-white hide" data-email-action="show" onclick="detalhes();"><i class="fa fa-book m-r-3"></i> <span class="hidden-xs">Detalhes</span></button>
                                <button class="btn btn-sm btn-white hide" data-email-action="edit" onclick="alterarSolicitar();"><i class="fa fa-edit m-r-3"></i> <span class="hidden-xs">Alterar</span></button>
                                <button class="btn btn-sm btn-white hide" data-email-action="delete" onclick="excluirSolicitar();"><i class="fa fa-trash-o m-r-3"></i> <span class="hidden-xs">Excluir</span></button>
                            </div>   
                        </div>
                        <!-- end btn-toolbar -->
                    </div>
		            <!-- end wrapper -->
		            
		            <!-- begin list-registros -->
                    <ul class="list-group list-group-lg no-radius list-email">

						{loop="$listaGeral" as $item}
												
	                        <li class="list-group-item {if="$item.ativo=='true'"}primary{else}danger{/if}">
	                            <div class="email-checkbox">
	                                <label>
	                                    <input type="radio" name="opcRegistro" id="{$item.idProprietario}" value="{$item.idProprietario}" onclick="preencherFormulario(this);" data-checked="email-checkbox" />
	                                </label>
	                            </div>
	                            <a href="#" style="cursor: default;" class="email-user">
	                                <img src="/views/images/proprietarios/{$item.imagemAvatar}"" alt="" />
	                            </a>
	                            <div class="email-info">
	                                <span class="email-time">cadastro em {$item.dataCadastro}</span>
	                                <h5 class="email-title">
	                                    <span class="label label-primary f-s-10">{$item.tipoPessoa}</span>
	                                     &nbsp; <a href="#" style="cursor: default;">{$item.proprietario}</a> 	                                    
	                                </h5>
	                                <p class="email-desc">
										{$item.telefone}<br> 
										{$item.email} 
	                                </p>
	                            </div>
	                        </li>                      						
						{/loop}                    
                    
                    </ul>
		            <!-- end list-registros -->
		            
		            <!-- begin wrapper -->
                    <div class="wrapper bg-silver-lighter clearfix">
                    
                        <div class="btn-group pull-right">
							<button class='btn btn-white btn-sm' {if="$paginaAtual>1"}onclick='mudarPagina({$paginaAtual-1});'{/if} title='Página {$paginaAtual-1}'><i class='fa fa-chevron-left'></i></button>
							<button class='btn btn-white btn-sm' {if="$paginaAtual<$qtdPaginas"}onclick='mudarPagina({$paginaAtual+1});'{/if} title='Página {$paginaAtual+1}'><i class='fa fa-chevron-right'></i></button>
                        </div>
                        
                        <div class="m-t-5">Página {$paginaAtual}, total de {$qtdPaginas} páginas</div>
                    </div>
		            <!-- end wrapper -->
		            
		        </div>
		        <!-- end vertical-box-column -->
		    </div>
		    <!-- end vertical-box -->
			
		</div>
		<!-- end #content -->
		
	<!-- modal content -->
	  <div id="md-detalhes" class="modal modal-message fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">

	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Detalhes do Registro</h4>
	        </div>
	        <div class="modal-body">
		        <div id="conteudoDetalhe"></div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
	        </div>

	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
	<!--  Modal content -->
	
	<!-- modal content -->
	  <div id="md-excluir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">

	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Desativação do Registro</h4>
	        </div>
	        <div class="modal-body">
	        	<h4>Atenção!</h4>
				<p> - Somente desative registros se estiver certo do procedimento;</p>
				<p> - A desativação só poderá ser revertida por pessoa autorizada;</p>
				<p> - Os registros "filhos" do registro desativado serão preservados.</p>
				<p><strong>Você está desativando o registro ID:</strong> <code style="font-size: large;" id="labelExcluir"></code></p>
			</div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" onclick="excluirProcessar();">Desativar</button>
			</div>
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
	<!--  Modal content -->
		
    <form name="formExcluir" id="formExcluir" method="post" action="">
        <input type="hidden" name="idRegistro" id="idExcluir" value="" />
        <input type="hidden" name="acao" id="acaoExcluir" value="excluir" />         
    </form>
    
    <form name="formConsulta" id="formConsulta" method="post" action="/admin/proprietario_cadastro">
        <input type="hidden" name="opcaoConsulta" id="opcaoConsultaC" value="" />
        <input type="hidden" name="campoConsulta" id="campoConsultaC" value="" />
        <input type="hidden" name="acao" id="acaoPaginacao" value="consultar" />         
    </form>   
		
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/res/admin/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="/res/admin/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/res/admin/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="/res/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/res/admin/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/res/admin/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/res/admin/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/res/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/res/admin/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/res/admin/assets/plugins/isotope/jquery.isotope.min.js"></script>
  	<script src="/res/admin/assets/plugins/lightbox/js/lightbox-2.6.min.js"></script>
	<script src="/res/admin/assets/js/instituicao.demo.js"></script>
	<script src="/res/admin/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<!-- Specific Page Scripts Put Here -->
	<script src="/res/admin/assets/plugins/jquery-notifyjs/notify.min.js"></script>
	<script src="/res/admin/assets/plugins/jquery-notifyjs/styles/metro/notify-metro.js"></script>
	<script src="/res/admin/assets/js/valida.js"></script>
	<script src="/res/admin/assets/js/jquery.validate.min.js"></script>
	<script src="/res/admin/assets/js/jquery.mask.min.js" type="text/javascript"></script>
	
	<script src="/res/admin/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>	
	<script src="/res/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>   
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={$googleAPIkey}"></script>
		
	<script>
		$(document).ready(function() {
			App.init();
			InboxV2.init();
			 
		});

		function autoHideNotify(style,msg,position) {
		 	if(style == "error"){
				icon = "fa fa-exclamation";
			}else if(style == "warning"){
				icon = "fa fa-warning";
			}else if(style == "success"){
				icon = "fa fa-check";
			}else if(style == "info"){
				icon = "fa fa-question";
			}else{
				icon = "fa fa-circle-o";
			}   
		    $.notify({
		        title: 'Esta mensagem irá se ocultar...',
		        text: msg,
		        image: "<i class='fa fa-warning'></i>"
		    }, {
		        style: 'metro',
		        className: style,
		        globalPosition:position,
		        showAnimation: "show",
		        showDuration: 0,
		        hideDuration: 0,
		        autoHideDelay: 4000,
		        autoHide: true,
		        clickToHide: true
		    });
		}
        
        function preencherFormulario(campo){
            var valor = campo.value;
            $("#idExcluir").val(valor);
        }		
		
		function detalhes(){
			var id = $("#idExcluir").val(); 
				
			if(id !== ""){
			    $.getJSON('/funcoes_ajax.php?fn=retornaProprietario&vl1='+id, function (dados){
				    if(dados.length == 0){
				    	autoHideNotify('error','Erro na consulta do registro. Recarregue a página e tente novamente.');    
				    }else{
					    
				    	var txt = "<table class='table table-bordered'>";
				    	txt += "<tr><th colspan='4'><h4>"+dados['proprietario']+" </h4></th></tr>";					    	
				    	txt += "<tr><th>Tipo: </th><td>"+dados['tipoPessoa']+"</td><th>Telefone: </th><td>"+dados['telefone']+"</td></tr>";
				    	txt += "<tr><th>CPF: </th><td>"+dados['cpf']+"</td><th>CNPJ: </th><td>"+dados['cnpj']+"</td></tr>";
				    	txt += "<tr><th>Razão Social: </th><td>"+dados['razaoSocial']+"</td><th>Nome de Fantasia: </th><td>"+dados['nomeFantasia']+"</td></tr>";
				    	txt += "<tr><th>Inscrição Estadual: </th><td>"+dados['inscricaoEstadual']+"</td><th>Inscrição Municipal: </th><td>"+dados['inscricaoMunicipal']+"</td></tr>";
				    	txt += "<tr><th>Responsável: </th><td>"+dados['responsavel']+"</td><th>Inscrição Municipal: </th><td>"+dados['inscricaoMunicipal']+"</td></tr>";
				    	txt += "<tr><th>E-mail: </th><td>"+dados['email']+"</td><th>Endereço: </th><td>"+dados['endereco']+", "+dados['numero']+" "+dados['complemento']+"</td></tr>";
				    	txt += "<tr><th>Responsável: </th><td>"+dados['responsavel']+"</td><th>Inscrição Municipal: </th><td>"+dados['inscricaoMunicipal']+"</td></tr>";
				    	txt += "<tr><th>Bairro: </th><td>"+dados['bairro']+" "+dados['cep']+" </td><th>Cidade: </th><td>"+dados['cidade']+" - "+dados['estado']+"</td></tr>";
				    	txt += "<tr><td colspan='4'><div id='mapExib' style='width: 100%;height: 200px'></div></td></tr>";
				    	
				    	var tabela = "<table class='table table-bordered' width='100%'>";
					    tabela += "<tr><td style='text-align: center;'><img src='/views/images/proprietarios/"+dados['imagemAvatar']+"' border='0' style='max-width: 100%' /></td>";
					    tabela += "<td style='text-align: center;'><img src='/views/images/proprietarios/"+dados['imagemCapa']+"' border='0' style='max-width: 100%' /></td></tr>";
				    	tabela += "</table>";
				    	
				    	txt += "<tr><td colspan='4'>"+tabela+"</td></tr>";
				    	txt += "</table>";
				    	
				    	
				    	$('#conteudoDetalhe').html(txt);
						$('#md-detalhes').modal('show');						
				    }
				    initialize('mapExib',dados['latitude'],dados['longitude'],dados['proprietario']);				    
			    });
			}else{
				return false;
			}
		}
                
        function excluirSolicitar(){
            $('#labelExcluir').html( $('#idExcluir').val() );
			$('#md-excluir').modal('show');
        }
        
        function excluirProcessar(){
           $('#formExcluir').submit(); 
        }

        function cadastrarSolicitar(){
        	$(location).attr('href','/admin/proprietario_cadastro_registro');
        }
        
		function alterarSolicitar(){
			var id = $("#idExcluir").val(); 
        	$(location).attr('href','/admin/proprietario_cadastro_registro/'+id);
		}
		
        function fazerConsulta(){
        	var opcao = $('#opcaoConsulta').val();
        	
        	if(opcao !== 'todos'){
                $('#campoConsultaC').val( $('#campoConsulta').val() );
                $("#opcaoConsultaC").val( $('#opcaoConsulta').val() ).attr("selected", "selected");
           		$('#formConsulta').submit();                    		
        	}else{
            	$(location).attr('href','/admin/proprietario_cadastro');        		
        	}        	
        }
        
        function mudarPagina(pagina){
        	$(location).attr('href','/admin/proprietario_cadastro/'+pagina);
        }
        
        function initialize(div, latitude, longitude, descricao) {
        	var ponto = new google.maps.LatLng(latitude, longitude);
        	
            var mapOptions = {
              center: ponto,
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById(div), mapOptions);
            
            var marker = new google.maps.Marker({
                position: ponto,//seta posição
                map: map,//Objeto mapa
                title:descricao //string que será exibida 
            });            
		}        
        
	</script>
</body>
</html>
